@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style.css">

<body>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="https://mcdn.wallpapersafari.com/medium/96/81/ojV1dH.jpg" alt="Imagem 1">
            </div>
            <div class="carousel-item">
                <img class="w-100" src="https://mcdn.wallpapersafari.com/medium/4/60/0nmBja.jpg" alt="Imagem 2">
            </div>
            <div class="carousel-item">
                <img class="w-100" src="https://mcdn.wallpapersafari.com/medium/29/68/2CTwjW.jpg" alt="Imagem 3">
            </div>
            <div class="carousel-item">
                <img class="w-100" src="https://cdn.wallpapersafari.com/16/50/SDBgvI.jpg" alt="Imagem 4">
            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</body>
